.vscode*
.DS_Store
*__pycache__*
*env*
Reports
*node_modules

# local env files
.env.local
.env.*.local

# Log files
*.log*
*inspect.js

# Editor directories and files
*.idea
*.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.orig